#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

body {
  color: white;
  background-color: rgb(41, 41, 41);
}


/* HOME PAGE */

h2 {
  display: inline-flex;
  width: fit-content;
  justify-content: center;
  margin: 10px;
  text-align: center;
}

article.topic {
  margin: 0;

}
.article-titles {
  padding-bottom: 20px;

}

/* NAVBAR */

.nav-list {
  display: inline-flex;
  list-style: none;
  align-items: center;
  border: 2px solid;
  justify-content: center;
  margin-left: 30px;
  margin: 3rem;
  padding: 0;
  width: fit-content;
}

li {
  margin: 20px;
  align-items: center;
}


/* ARTICLE LIST */

.card-header {
  padding-bottom: 0;
  background-color: rgb(255, 255, 255);
  color: black;
}

section > .articles-titles{
  display: flex;
  width: fit-content;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically (if container has height) */
  height: 10vh; 
  
}

.article-list-item {
  list-style: none;
  padding: 20px;
}

.parent {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically (if container has height) */
  height: 50vh; /* optional height as needed - this example makes the container fill the full viewport height*/
}

.article-card {
  color: rgb(255, 255, 255);
  margin: 20px;
  padding: 10px;
  display: inline-flexbox; 
  justify-content: center;  
  align-items: center; 
  width: 50rem;
  height: 100vh; 
  border-radius: 20px;
  box-shadow: 1px 0px 10px black;
}


.article-img {
height: 200px;  
width: 300px;
display: inline;
}

.article-topic {
  padding: 10px;
  border: none;
  margin: 1rem;
}

.article-author {
  border: none;
  padding: 1rem;
  margin: 1rem;
}

/* SINGLE ARTICLE */

.single-article {
display: flexbox;
justify-items: center;
border: 2px solid;
}

.article-img-container {
  display: inline-flex;
  width: 125px;
  height: 168px;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
  margin-right: 19px;
}

.full-article-title {
  font-size: 0.9rem;
  font-weight: 500;
}


/* COMMENTS */

h3 {
  display: flex;
  justify-content: center;
  border: 2px solid;
}