#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(212, 201, 190);
}

body {
  color: rgb(18, 52, 88);
  background-color: rgb(212, 201, 190);
}

button {
  background-color: rgb(18, 52, 88);
  margin: 1rem;
}
/* HOME PAGE */
h1 {
    color: rgb(18, 52, 88);
    display: flex;
    justify-content: center;
    
  };

.welcome-msg {
  display: inline-flex;
  width: fit-content;
  justify-content: center;
  margin: 10px;
  text-align: center;
}

article.topic {
  color:rgb(18, 52, 88);
  margin: 0;

}
.article-titles {
  padding-bottom: 20px;

}

/* NAVBAR */

.nav-list {
  display: inline-flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  margin: 3rem;
  padding: 0;
  width: fit-content;
}

li {
  color: rgb(18, 52, 88);
  margin: 20px;
  align-items: center;
}


/* ARTICLE LIST */

.card-header {
  padding-bottom: 0;
  background-color: rgb(255, 255, 255);
  color:rgb(18, 52, 88);
}

section > .articles-titles{
  display: flex;
  width: fit-content;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically (if container has height) */
  height: 10vh; 
  
}

.article-list-item {
  list-style: none;
  padding: 20px;
}

.parent {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically (if container has height) */
  height: 50vh; /* optional height as needed - this example makes the container fill the full viewport height*/
}

.article-card {
  margin: 20px;
  padding: 10px;
  display: inline-flexbox; 
  justify-content: center;  
  align-items: center; 
  width: 25rem;
  height: 80vh; 
  border-radius: 20px;
  box-shadow: 1px 1px 20px rgba(18, 52, 88, 0.712);
}

.article-title {
  margin-bottom: 0.5rem;
}

.article-img {
height: 200px;  
width: 300px;
display: inline;
}

.article-topic {
  padding: 10px;
  border: none;
  margin: 1rem;
}

.article-author {
  border: none;
  margin-top: 0.2rem;
  margin-bottom: 3rem;
}

/* SINGLE ARTICLE */

.single-article {
display: flexbox;
justify-items: center;
border: 2px solid;
width: 30rem;
padding: 5rem;
}

.article-img-container {
  display: flex;
  width: 20rem;
  height: 10rem;
  margin-left: 5px;
  margin-top: 0;
}

.full-article-img {
  display: flex;
  width: 20rem;
  height: 10rem;
  margin-left: 5px;
  margin-top: 0;
}

.full-article-title {
  font-size: 2rem;
  font-weight: 500;
}

.full-article-author {
  font-size: 1rem;
  font-weight: 500;
}


/* COMMENTS */

h3.article-author {
  color: rgb(18, 52, 88);
  display: flex;
  justify-content: center;
  
}
h3.article-topic {
  color: rgb(18, 52, 88);
  display: flex;
  justify-content: center;
  
}

.comment-list {
  display: block;
  justify-content: center;
  height:auto;
  h5, h6 {
    text-align: right;
  }
}

textarea.comment-input {
  background-color: rgb(241, 239, 236);
  color:  rgb(18, 52, 88) ;
  width: 20rem;
  height: 4rem;
  padding: 1rem;
}

h4 {
  margin: 2rem;
  font-weight: 300;
}

fieldset {
  display: block; 

  margin: auto;
  box-sizing: border-box;
  padding: 3rem;
  width: auto;
  height: auto;
}

/* TOPICS */

.topic-card {
  width: 18rem;
  height: 100%; /* Makes cards equal height in a row */
}
.topics-list {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 60vh;
}
.topic-card-btn a {
  color: white !important;
  text-decoration: none !important;
}

.topic-card-btn:hover a {
  color: white !important;
}
/* 
ARTICLES BY TOPIC */

.article-item {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 60vh;
}